.form-wrapper {
    min-height: 55vh;
    display: flex;
    /* justify-content: center; */
    margin : 20px auto 50px auto;    
    flex-direction: column;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}